<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Galactic Conquest</title>
    <!--TODO: add favicon-->
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://cdn.jsdelivr.net/phaser/2.4.4/phaser.min.js"></script>
    <script src="js/game.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
<div id="gameDiv"></div>
<div id="chat">
    <ul id="chatMessages"></ul>
    <form id="chatForm">
        <input id="chatInput" type="text" autocomplete="off">
        <input type="submit" value="Send">
    </form>
</div>

</body>
</html>

<script>
    var socket = io();

    socket.on("connect", function(data) {
        socket.emit("join", "Hello World from client");
    });

    socket.on("chatMessage", function(data) {
        $("#chatMessages").append("<li>" + data + "</li>");
    });

    $("#chatForm").submit(function(e) {
        e.preventDefault();
        var message = $("#chatInput").val();
        $("#chatInput").val("");
        socket.emit("chatMessage", message);
    });

</script>