<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Galactic Conquest</title>
    <!--TODO: add favicon-->
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <script src="http://cdn.jsdelivr.net/phaser/2.4.4/phaser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/game.js"></script>
</head>

<body>
<div id="gameDiv"></div>
<div id="chat">
    <ul class="chatPages">
        <li class="chatPage">
            <div class="chatArea">
                <ul class="messages"></ul>
            </div>
            <input class="inputMessage" placeholder="Type here..."/>
        </li>
        <li class="loginPage">
            <div class="form">
                <h3 class="title">Please enter your username:</h3>
                <input class="playerNameInput" type="text" maxLength="14" autofocus/>
            </div>
        </li>
    </ul>
</div>
<div id="newGamePage" >
    <h3 class="title">Please enter usernames for all players:</h3>
    <p>
        <label>Player1:</label>
        <input type="text" id="player1Name">
    </p>
    <p>
        <label>Player2:</label>
        <input type="text" id="player2Name">
    </p>
    <p>
        <label>Player3:</label>
        <input type="text" id="player3Name">
    </p>
    <p>
        <label>Player4:</label>
        <input type="text" id="player4Name">
    </p>
    <p>
        <label>Player5:</label>
        <input type="text" id="player5Name">
    </p>
    <p>
        <label>Player6:</label>
        <input type="text" id="player6Name">
    </p>
    <p>
        <input type="submit" id="createGame" value="Create new game">
    </p>
</div>
</body>
</html>